{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid"></div>
    <div class="row mb-5">
       <img class="img-fluid" src="{% static 'images/about_company.jpg' %}" alt="">
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-10 text-center">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta, veniam quisquam. Placeat cumque rerum velit!
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea placeat facilis hic eaque, excepturi ipsam quae odit recusandae quas molestiae asperiores error totam expedita corporis?</p>
        </div>
    </div>
</div>
{% endblock content %}