{% extends "dashboard.html" %}

{% block content %}
<h2 class="mb-5 text-primary">Send Money</h2>

<form method="post">
    {% csrf_token %}
    
    <div class="mb-3">
        <label for="id_sender_account_no" class="form-label">Sender Account Number</label>
        {{ form.sender_account_no }}
    </div>
    
    <div class="mb-3">
        <label for="id_destination_account_no" class="form-label">Receiver Account Number</label>
        {{ form.destination_account_no }}
    </div>
    
    {{ form.amount.label_tag }}
    {{ form.amount }}
    
    {{ form.description.label_tag }}
    {{ form.description }}
    
    {{ form.reference.label_tag }}
    {{ form.reference }}

    <div class="my-3">
        <button type="submit" class="btn btn-primary">Send</button>
        <a href="{% url 'transaction_list' %}" class="btn btn-secondary">Cancel</a>
    </div>
    

</form>
{% endblock %}
